
@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-3">Welcome @ViewBag.Nickname</h1>
</div>

Список Чатов

<div style="width:90%">
    @foreach (var chat in ViewBag.ListOfChats)
    {
    <form method="post" asp-controller="Chat">
        <input type="hidden" value="@chat" name="chat">
        <input type="hidden" value="@ViewBag.Nickname" name="nickname">
        <input type="submit" value="Войти в @chat" class="btn btn-secondary btn-lg btn-block"  />
    </form>
    }
</div>

<form asp-area="" asp-controller="NewChat" asp-action="Index">
    <input type="submit" value="Новый чат" class="btn btn-primary btn-lg btn-block"/>
</form>

